* {
    margin: 0;
    padding: 0;
}
.container{
    display: flex; /*水平排*/
    justify-content: center; /*排正中間*/
    
}
.card {
    /* border: 1px solid red; */
    width: 250px;
    margin: 10px;
    transition: all 0.3s;

}
.card:hover{
    transform: translateY(-5px);
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}
img {
    width: 100%;
    height:40%;
    object-fit: cover; /*原圖等地利縮放*/
}

.card-title {
    font-size: 24px;
    margin: 10px 0;
}

.btn {
    color: aliceblue;
    text-decoration: none;
    background-color: darkblue;
    padding: 10px;
    border-radius: 5px;
    display: block;
    /*因為是超連結行內元素，所以轉成區塊元素，才能設定寬高*/
    text-align: center;
}

.card-text {
    margin-bottom: 20px;
}

.card-body {
    padding-bottom: 50px;
    padding-left: 20px;
    padding-right: 20px;
}
